.projects-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: stretch;
    position: relative;
    top: 20px;
    padding: 0 5%;
}

.projects-container a {
    margin: 20px 0px;
}

h1 {
    color: #F24766;
}

p {
    margin-top: 15px;
    margin-bottom: 15px
}

.project-container {
    display: flex;
    flex-direction: column;
    background-color: #deb887;
    justify-content: flex-start;
    border-radius: 40px;
    padding-left: 40px;
}

.loading-container {
    margin: auto;
    width: 40%;
    height: auto;
    animation-name: loading;
    animation-duration: 6s;
}

.mini-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mini-container p {
    margin-right: 5%;
    margin-top: 20px;
}

.name,
.root_url {
    font-size: 24px;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}